{% include './ios/services.j2' %}

{% include './ios/hostname.j2' %}

{% include './ios/secrets.j2' %}

{% include './ios/aaa.j2' %}

no coap http enable

no ip source-route
ip routing
ip multicast-routing

no ip domain lookup
ip domain name DOMAIN

vtp mode transparent
udld enable

{% include './ios/netflow.j2' %}

{% include './ios/ntp.j2' %}

{% include './ios/interfaces.j2' %}

{% if 'config' in config_context["config"] %}
{% for config in config_context["config"] %}
 {{ config }}
{% endfor %}
{% endif %}
