{% macro configure(config_context) %}
{%      for flowmonitor in config_context.netflow.flowmonitor %}
{%        if flowmonitor.type == "input" %}
 ip flow monitor {{ flowmonitor.name }} input
{%        endif %}
{%        if flowmonitor.type == "output" %}
 ip flow monitor {{ flowmonitor.name }} output
{%        endif %}
{%      endfor %}
{% endmacro %}