{# include macros #}
{% import "./ios/physical_interface.j2" as pi %}
{% import "./ios/portchannel_interface.j2" as pc %}
{# Loopback first #}
{% for interface in interfaces %}
{% if 'Loop' in interface["name"] %}
{% include "./ios/_loopback.j2" %}
{% endif %}
{% endfor %}
{# Port-channel second #}
{% for interface in interfaces %}
{%   if 'Loop' not in interface["name"] %}
{%     if 'Port-channel' in interface["name"] %}
{{       pc.portchannel_interface(interface,config_context) }}
{%     endif %}
{%   endif %}
{% endfor %}
{# now all other interfaces #}
{% for interface in interfaces %}
{%   if 'Loop' not in interface["name"] %}
{%     if 'Port-channel' not in interface["name"] %}
{{       pi.physical_interface(interface,config_context) }}
{%     endif %}
{%   endif %}

{% endfor %}