{# include macros #}
{% import "./ios/physical_interface.j2" as physical %}
{% import "./ios/portchannel_interface.j2" as portchannel %}
{% import "./ios/loopback_interface.j2" as loopback %}
{# Loopback first #}
{% for interface in interfaces %}
{%   if 'Loop' in interface["name"] %}
{{     loopback.interface(interface,config_context) }}

{% endif %}
{% endfor %}
{# Port-channel second #}
{%- for interface in interfaces -%}
{%-   if 'Loop' not in interface["name"] -%}
{%-     if 'Port-channel' in interface["name"] -%}
{{        portchannel.interface(interface,config_context) }}
{%      endif %}
{%    endif %}
{%  endfor %}
{#- now all other interfaces -#}
{%- for interface in interfaces %}
{%-   if 'Loop' not in interface["name"] %}
{%-     if 'Port-channel' not in interface["name"] %}
{{        physicalinterface(interface,config_context) }}
{%      endif %}
{%    endif %}
{%- endfor -%}