{# include macros #}
{% include "./ios/physical_interface.j2" %}
{# Loopback first #}
{% for interface in interfaces %}
{% if 'Loop' in interface["name"] %}
{% include "./ios/_loopback.j2" %}
{% endif %}
{% endfor %}

{# Port-channel second #}
{% for interface in interfaces %}
{%   if 'Loop' not in interface["name"] %}
{%     if 'Port-channel' in interface["name"] %}
{#       include "./ios/_portchannel.j2" #}
{{       physical_interface(interface) }}
{%     endif %}
{%   endif %}
{% endfor %}

{# now all other interfaces #}
{% for interface in interfaces %}
{%   if 'Loop' not in interface["name"] %}
{%     if 'Port-channel' not in interface["name"] %}
{%       include "./ios/_physical.j2" %}
{%     endif %}
{%   endif %}

{% endfor %}