{% macro interface(interface,config_context) %}
interface {{ interface.name }}
{% if interface.description | length > 1 %}
 description {{ interface.description }}
{% endif %}
{%- if interface.ip_addresses | length > 0 %}
{%-  for addr in interface.ip_addresses %}
{%-    if addr.address is defined %}
 ip address {{ addr.address }}
{%     endif %}
{%   endfor %}
{%  else %}
 no ip address
{%  endif %}
{%- if config_context.acl is defined -%}
{%-  if config_context.acl.interfaces is defined -%}
{%     set interfacename = interface.name -%}
{%-    if config_context.acl.interfaces.interfacename is defined -%}
 ip access-group {{ config_context.acl.interfaces.interfacename.acl }} {{ config_context.acl.interfaces.interfacename.direction }}
{%     endif -%}
{%   endif -%}
{%  endif -%}
{% if interface.enabled == false %}
 shutdown
{% endif %}
{% for tag in interface.tags %}
{# begin netflow -#}
{%-  if 'netflow' in tag.slug %}
{%     for flowmonitor in config_context.netflow.flowmonitor %}
{%-      if flowmonitor.type == "input" %}
 ip flow monitor {{ flowmonitor.name }} input
{%       endif %}
{%-      if flowmonitor.type == "output" %}
 ip flow monitor {{ flowmonitor.name }} output
{%       endif %}
{%     endfor %}
{%   endif %}
{# end of netflow #}
{# begin ospf #}
{%-  if 'ospf' in tag.slug -%}
{%-    if config_context.keys.ospf is defined -%}
{%-      if config_context.keys.ospf.authentication is defined -%}
 ip ospf authentication {{ config_context.keys.ospf.authentication }}
 ip ospf message-digest-key 1 md5 7 {{ config_context.keys.ospf.md-key-7 }}
{%       endif -%}
{%     endif -%}
{%   endif -%}
{# end of ospf #}
{% endfor -%}
{# additional config #}
{%- if 'interfaces' in config_context -%}
{%   for ifaceconfig in config_context.interfaces -%}
{%-     if interface.name in ifaceconfig.name -%}
{%       for config in ifaceconfig.config -%}
  {{ config }}
{%       endfor -%}
{%     endif -%}
{%   endfor -%}
{%  endif -%}
{% endmacro %}