
{% for flowrecord in config_context["netflow"]["flowrecord"] %}

flow record {{ flowrecord["name"] }}
description {{ flowrecord["description"] }}

{% endfor %}

{% for flowexporter in config_context["netflow"]["flowexporter"] %}

flow exporter {{ flowexporter["name"] }}
description {{ flowexporter["description"] }}
destination {{ flowexporter["destination"] }}

{% endfor %}

