
{% for flowrecord in config_context["netflow"]["flowrecord"] %}

flow record {{ flowrecord["name"] }}
description {{ flowrecord["description"] }}

{% for ipv4 in flowrecord["match"]["ipv4"] %}
match ipv4 {{ ipv4 }}
{% endfor %}
{% for transport in flowrecord["match"]["transport"] %}
match transport {{ transport }}
{% endfor %}
{% for interface in flowrecord["match"]["interface"] %}
match interface {{ interface }}
{% endfor %}

{% endfor %}

