{% import "./ios/helper/acl.j2" as acl %}
{% import "./ios/helper/netflow_interface_config.j2" as netflow %}
{% import "./ios/helper/ospf.j2" as ospf %}
{% macro interface(interface,config_context) %}
interface {{ interface.name }}
{% if interface.description | length > 1 %}
 description {{ interface.description }}
{% endif %}
{% if interface.ip_addresses | length > 0 %}
{%   for addr in interface.ip_addresses %}
{%     if addr.address is defined %}
 no switchport
 ip address {{ addr.address }}
{%     endif %}
{%   endfor %}
{% else %}
 no ip address
{% endif %}
{#- check if this interface is a trunk // has multiple VLAN -#}
{% if 'ACCESS' in interface.mode %}
ACCESS MODE

{% endif %}
{% if config_context.acl is defined %}
{{   acl.set (config_context, interface.name) }}
{% endif %}
{#- process ALL tags -#}
{%  for tag in interface.tags %}
{%    if 'netflow' in tag.slug %}
{{      netflow.set(config_context) }}
{%    endif %}
{%    if 'ospf' in tag.slug %}
{{      ospf.set(config_context) }}
{%    endif %}
{#  end of tags -#}
{%  endfor %}
{#- check if interface is shut -#}
{%- if interface.enabled == false %}
 shutdown
{%  endif %}
{# additional config #}
{% if 'interfaces' in config_context %}
{%   for ifaceconfig in config_context.interfaces %}
{%     if interface.name in ifaceconfig.name %}
{%       for config in ifaceconfig.config %}
 {{ config }}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
{% endmacro %}