{# include macros #}
{% import "./ios/helper/descr_ip.j2" as descrIp %}
{% import "./ios/helper/tagged_port.j2" as tagged %}
{% import "./ios/helper/access_port.j2" as access %}
{% import "./ios/helper/routed_port.j2" as routed %}
{% import "./ios/helper/channel_group.j2" as channel %}
{{ descrIp.description_and_ip(interface,config_context) }}
{%- if interface.mode == 'TAGGED' -%}
{{ tagged.switchport(interface,config_context) }}
{%- elif interface.mode is none -%}
{{ routed.switchport(interface,config_context) }}
{%- elif interface.mode == 'ACCESS' -%}
{{ access.switchport(interface,config_context) }}
{% endif %}
{%- if interface.lag is not none -%}
{{ channel.set(interface,config_context) }}
{%- endif -%}