{% import "./ios/helper/description.j2" as description %}
{% import "./ios/helper/ipaddr.j2" as ipaddr %}
{% import "./ios/helper/tagged_port.j2" as tagged %}
{% import "./ios/helper/access_port.j2" as access %}
{% import "./ios/helper/l3_port.j2" as l3 %}
{% import "./ios/helper/channel_group.j2" as channel %}
{{ description.description(interface,config_context) }}
{%- if interface.mode == 'TAGGED' %}
{{ tagged.switchport(interface,config_context) }}
{%- elif interface.mode is none %}
{{ l3.port(interface,config_context) }}
{%- elif interface.mode == 'ACCESS' %}
{{ access.switchport(interface,config_context) }}
{%- endif %}
{{ ipaddr.address(interface,config_context) }}
{%- if interface.lag is not none %}
{{ channel.set(interface,config_context) }}
{% endif %}