{# include macros #}
{% import "./ios/helper/descr_ip.j2" as descrIp %}
{% import "./ios/helper/tagged.j2" as tagged %}
{{ descrIp.description_and_ip(interface,config_context) }}
{%- if interface.mode == 'TAGGED' %}
{{ tagged.switchport(interface,config_context) }}
{% endif %}