enable secret 5 {{ config_context["secrets"]["secret"] }}

{% for user in config_context["secrets"]["users"] %}
username {{ user["username" }} privilege {{ user["privilege" }} secret {{ user["secret" }}
{% endfor %}