
enable secret {{ config_context["secrets"]["level"] }} {{ config_context["secrets"]["secret"] }}

{% for user in config_context["secrets"]["users"] %}
username {{ user["username"] }} privilege {{ user["privilege"] }} secret {{ user["password"] }}
{% endfor %}